<div class="ui left vertical inverted visible sidebar menu">

	<a class="item" href="<%= url '/' %>">
		<span><i class="home icon"></i> Home</span>
	</a>

	<% @cache[:schemas].each do |schema, data| %>

		<div class="js-submenu link item">
			<span><i class="database icon"></i> <%= schema %></span>
			<i class="caret right icon"></i>
			<i class="caret down icon transition hidden"></i>
		</div>
		<div class="menu transition hidden">

			<div class="subheader">Schema</div>
			<a class="item" href="<%= url "/schemas/#{schema}" %>"><span><i class="database icon"></i> <%= schema %></span></a>

			<% unless data[:tables].empty? %>
				<div class="subheader">Tables</div>
				<% data[:tables].each do |table_name, table| %>
					<a class="item" href="<%= url "/schemas/#{schema}/tables/#{table_name}" %>"><span><i class="table icon"></i> <%= table_name %></span></a>
				<% end %>
			<% end %>

			<% unless data[:views].empty? %>
				<div class="subheader">Views</div>
				<% data[:views].each do |view_name, view| %>
					<a class="item" href="<%= url "/schemas/#{schema}/views/#{view_name}" %>"><span><i class="table icon"></i> <%= view_name %></span></a>
				<% end %>
			<% end %>

			<% unless data[:functions].empty? %>
				<div class="subheader">Functions</div>
				<% data[:functions].each do |routine_name, routine| %>
					<a class="item" href="<%= url "/schemas/#{schema}/functions/#{routine_name}" %>"><span><i class="table icon"></i> <%= routine_name %></span></a>
				<% end %>
			<% end %>

		</div>
	<% end %>

	<div class="scroll-padding"></div>

</div>
