<h1>
	Table - <code><%= params["schema"] %>.<%= params["name"] %></code>
</h1>

<% if object[:comment] %>
	<h2>Database Comment</h2>
	<p><%= object[:comment] %></p>
<% end %>

<%= render_markdown "schema/#{params["schema"]}/#{params["name"]}.md" %>

<h2>Columns</h2>

<table class="ui compact fixed celled table">
	<thead>
		<th>Column Name</th>
		<th>Data Type</th>
		<th>Required Field?</th>
		<th>Default Value</th>
	</thead>
	<tbody>
		<% object[:columns].each do |row| %>
		<tr>
			<td>
				<% if fk = object[:foreign_keys].fetch(row["column_name"], nil) %>
					<i class="icon book"></i>
					<a href="<%= url "/schemas/#{fk["references_schema"]}/tables/#{fk["references_table"]}" %>" title="<%= fk["references_schema"] %>.<%= fk["references_table"] %>"><%= row["column_name"] %></a>
				<% else %>
					<%= row["column_name"] %>
				<% end %>
			</td>
			<td><%= row["data_type"] %></td>
			<td class="<%= row["is_nullable"] == 'NO' && row["column_default"].to_s.empty? ? 'info' : '' %>"><%= row["is_nullable"] == 'NO' ? '<i class="icon check"></i>' : ''%></td>
			<td><code><%= row["column_default"] %></code></td>
		</tr>
		<% end %>
	</tbody>
</table>
